body {
  margin: 0;
  font-family: Arial;
  background: #898686;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: rgb(105, 64, 64);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#output {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}
