body {
  background: #92b1ef;
  font-family: Arial;
}

.box {
  width: 380px;
  background: #868181;
  margin: 70px auto;
  padding: 22px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  width: 100%;
  padding: 12px;
  background: #d789f0;
  color: rgb(150, 113, 113);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

p {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 16px;
}
