body {
  margin: 0;
  background: #81dcf3;
  font-family: Arial;
}

.container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(95, 93, 93);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background: #4CAF50;
  color: rgb(87, 128, 121);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#output {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
